* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
header {
  max-width: 800px;
  width: 100%;
  padding: 20px 20px 20px 0;
  margin: auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 20px;
  margin: auto;
}
.link-favorite {
  color: orange;
  transition: all 0.3s ease;
}
.link-favorite:focus,
.link-favorite:hover {
  color: orangered;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}
.item {
  display: flex;
  gap: 20px;
  padding: 20px 5px;
  border-top: solid 1px black;
  position: relative;
}
.wrap-content {
  flex-grow: 1;
}

img {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}
.wrap-img {
  display: flex;
}
.wrap-actions {
  flex-shrink: 0;
}
.title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
.text {
  font-size: 13px;
  color: #8f95a5;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  width: 20px;
  top: 26px;
  right: 5px;
}
.favorite-icon {
  width: 16px;
  height: 16px;
}

.delete-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: orangered;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  position: relative;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-modal {
  position: absolute;
  top: 2px;
  right: 9px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-title {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
.register-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background-color: orangered;
}
.no-scroll {
  overflow: hidden;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
   max-width: 800px;
  margin: auto;
}
.info{
  
}
.slider-title {
  font-weight: 600px;
  font-size: 26px;
  margin-bottom: 20px;
}
.slider-text {
  font-size: 16px;
  color: #8f95a5;

}

.frame {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 500px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.rounds {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.rounds button {
  width: 15px;
  height: 15px;
  background-color: #ecf0f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.rounds .acent {
  background-color: #e67e22;
}

.triggers {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.triggers button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.triggers button:hover {
  font-size: 28px;
}
